# Framework Dash para construção de dashboards interativos
dash==2.14.2
dash-ag-grid==31.0.1

# Plotly para gráficos interativos usados no Dash
plotly==5.15.0

# Pandas para manipulação e análise de dados
pandas==2.2.3

# Biblioteca de suporte para callbacks no Dash
dash-bootstrap-components==1.4.0

# Dependências de integração com Docker
docker==6.1.3

# Para acessar o sistema de arquivos e manipular caminhos
os-sys==0.2.0

# Linter e checagem de estilo PEP8 (opcional para boas práticas)
flake8==6.1.0

# Langchain para integração com Groq
langchain_groq

# Core do Langchain para manipulação de prompts
langchain_core

# Biblioteca para carregar variáveis de ambiente
python-dotenv
